<% title 'Subscriptions' %>

<div class="page-header">
  <h2>Subscriptions</h2>
</div>

<div class="row">
  <div class="row">
    <table class="table">
      <thead>

      </thead>
      <tbody>
        <% @subscriptions.each do |s| %>

          <tr>
            <td>

            </td>
          </tr>
          
        <% end %>
      </tbody>
    </table>
  </div>
</div>