<% title 'help!' %>

<div class="page_title">
  <h2>Help!</h2>
  <p>Are you in trouble?</p>
</div>

<p>
  sissed is a website for OSU students by OSU students to watch course sections they want to enroll in.
</p>

<p>To get started we recommend you update your <%= link_to 'account', account_path, :title => 'account' %> with your email and/or
  phone number. Don't worry, we will not send you any email ever besides the course notifications. We hate spam too. Nor will we
  try and sell or use your contact information in any other way. We promise.</p>

<p>
  When you subscribe to a course section, you can have sissed send you a text message or email notification
  that the status or instructor has changed.
</p>

<p>
  All you need to do is search for a course. Once you select a course you can view all
  the sections. We are pretty sure you won't need a degree to use it. 
</p>

<p>
  You can also vote up courses and instructors if you are into that sort of thing. 
</p>

<p>
  Have fun, enjoy!
</p>

<p class="signed">
  - Some doods  
</p>