<div id="home">
  <h1>sissed is an online companion to <%= link_to 'SIS', 'http://prodosu.okstate.edu/', :title => 'SIS' %></h1>

  <p>We help you get the classes you want when you want.</p>

  <h2><%= link_to 'Login Now!', login_path, :title => 'Login' %></h2>
</div>